<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vacancy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1C92E511D3B8C8B000FC366</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1C92E681D3B8C8C000FC366</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1C92E731D3B8C8C000FC366</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
